// @include edit();

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: $sg-primary-color;
  padding: 1em;
}

main {
  @include center(85%);
  margin-top: 3em;
}

a {
  text-decoration: none;
}

body {
  font: $sg-body-size $sg-body-font;
  color: $sg-secondary-color;
}

pre {
  overflow: auto;
  margin-bottom: 1em;
  font-family: $code-font;
  line-height: 1.5em;
}
