//Styleguide Colors

$sg-primary-color: #64AD8A; //teal
$sg-secondary-color: #333333; //dark gray
$sg-third-color: #F8613F; //dark pink

$sg-light-gray: #D1D1D1;
$black: #000000;
$white: #FFFFFF;

//Styleguide Typography

$sg-title-font: 'Bitter', serif;
$sg-body-font: 'Muli', sans-serif;
$code-font: 'PT Mono';

$sg-title-size: 2.25em;
$sg-subtitle-size: 1.5em;
$sg-body-size: 1em;
