//Header

.title {
  @include column(1/4);
  font: $sg-subtitle-size $sg-title-font;
}

.navLink {
  padding: 0 1em;
  font: $sg-body-size $sg-title-font;
}

//Body

.sideMenu {
  @include column(1/4);
  display: inline;
  ul {
    border: 1px solid $sg-light-gray;
    border-radius: .4em;
  }
}

.sideLink {
  display: block;
  padding: 1em 0 1em 1em;
  color: $sg-secondary-color;
  &:hover {
    color: $white;
    background-color: $sg-light-gray;
  }
}

.pageContent {
  @include column(3/4);
  display: inline;
}
