extends layout

block content
  section.pageContent
    h1.pageTitle Buttons
    p.description Meggings sriracha typewriter, cred twee blog fap narwhal gluten-free farm-to-table iPhone wayfarers mlkshk. Jean shorts 8-bit Marfa Blue Bottle. Banh mi plaid bicycle rights cronut 3 wolf moon.
    section.styleSample
      h2.subTitle Default button
      section.demo
        button Submit
      section.details.clearfix
        div.code
          h2.detailsTitle Code
          pre.
            &lt;button&gt;Submit&lt;/button&gt;
        div.notes
          h2.detailsTitle Notes
          p.bodyText The default button is used in most situations with a call to action involving a button.
    section.styleSample
      h2.subTitle Special button
      section.demo
        button.specialCTA Invite via email
      section.details.clearfix
        div.code
          h2.detailsTitle Code
          pre.
            &lt;button class=&quot;specialCTA&quot;&gt;Submit&lt;/button&gt;
        div.notes
          h2.detailsTitle Notes
          p.bodyText Use the special button style for specific calls to action, namely the option for users to Invite via Email.
