extends layout

block content
  section.pageContent
    h1.pageTitle Welcome to the living style guide for Peach.com!
    p.bodyText.lineHeight The documentation on this site is meant to be a resource for developers working at Peach. By following the guidelines in this site, Peach's code base will continue to grow in a consistent and maintainable fashion.
    p.bodyText.lineHeight This style guide is not meant to be static and unchanging. The 'living' aspect means it is designed to be updated with new and improved elements and modules as they are approved. Check back often to make sure you are using the most updated styles.
    p.bodyText.lineHeight Use the navigation on the left to check out the elements and modules!
