extends layout

block content
  section.pageContent
    h1.pageTitle Welcome to the living style guide for Peach.com
    p.bodyText The documentation on this site is meant to ... description here
    p.bodyText Use the navigation on the left to check out the elements and modules.
