doctype html
html
  head
    title= title
    link(href='//fonts.googleapis.com/css?family=Bitter|Muli:300|PT+Mono', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Raleway:300,700|Montserrat', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      header.fullWidth
        nav.styleguideNav
          a(href='/'): h1.title Style Guide | Peach
          a.navLink(href='https://www.peachd.com/', target='_blank') Peach Website
          a.navLink(href='https://github.com/KeriBrady/living-style-guide', target='_blank') Github
      main.clearfix
        section.sideMenu
          ul
            li
              a.sideLink(href='/typography') Typography
            li
              a.sideLink(href='/buttons') Buttons
            li
              a.sideLink(href='/forms') Forms
            li
              a.sideLink(href='/navigation') Navigation
            li
              a.sideLink(href='/images') Images
            li
              a.sideLink(href='/colors') Colors
        block content

