doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Peach | Living Style Guide
      nav
        a(href='#') Peach Website
        a(href='#') Github
    block content
