extends layout

block content
  section.pageContent
    h1.pageTitle Images
    p.description Meggings sriracha typewriter, cred twee blog fap narwhal gluten-free farm-to-table iPhone wayfarers mlkshk. Jean shorts 8-bit Marfa Blue Bottle. Banh mi plaid bicycle rights cronut 3 wolf moon.
    section.styleSample
      h2.subTitle Logo
      section.demo
        img(src='peach_logo.svg', class='logoHeader')
        div.logoFooterBackground
          img(src='peach_logo_white.svg', class='logoFooter')
      section.details.clearfix
        div.code
          h2.detailsTitle Code
          pre.
            &lt;img class=&quot;logoHeader&quot; src=&quot;images/peach_logo.svg&quot;&gt;
            &lt;img class=&quot;logoFooter&quot; src=&quot;images/peach_logo_white.svg&quot;&gt;
        div.notes
          h2.detailsTitle Notes
          p.bodyText The top logo should be used in the Header. The bottom, white logo is to be used in the Footer.
    section.styleSample
      h2.subTitle Employee photos
      section.demo
        img(src='founder_chenyu.png', class='employeePhoto')
        img(src='founder_nishant.png', class='employeePhoto')
        img(src='founder_denis.png', class='employeePhoto')
      section.details.clearfix
        div.code
          h2.detailsTitle Code
          pre.
            &lt;img class=&quot;employeePhoto&quot; src=&quot;founder_chenyu.png&quot;&gt;
            &lt;img class=&quot;employeePhoto&quot; src=&quot;founder_nishant.png&quot;&gt;
            &lt;img class=&quot;employeePhoto&quot; src=&quot;founder_denis.png&quot;&gt;
        div.notes
          h2.detailsTitle Notes
          p.bodyText On the About page, use this styling for all employee headshots.
