extends layout

block content
  section.pageContent
    h1.pageTitle Navigation
    p.description Meggings sriracha typewriter, cred twee blog fap narwhal gluten-free farm-to-table iPhone wayfarers mlkshk. Jean shorts 8-bit Marfa Blue Bottle. Banh mi plaid bicycle rights cronut 3 wolf moon.
    section.styleSample
      h2.subTitle Header navigation
      section.demo
        ul.header
          li
            a(href='#', class='navigationLink') This Week
          li
            span.plus +
            a(href='#', class='navigationLink') Sign up
          li
            a(href='#', class='navigationLink') Sign in
      section.details.clearfix
        div.code
          h2.detailsTitle Code
          pre.
            &lt;ul class=&quot;header&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;navigationLink&quot;&gt;This Week&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;span class=&quot;plus&quot;&gt;+&lt;/span&gt;&lt;a href=&quot;#&quot; class=&quot;navigationLink&quot;&gt;Sign up&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;navigationLink&quot;&gt;Sign in&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        div.notes
          h2.detailsTitle Notes
          p.bodyText Use this navigation in the Header of every page. Once the user is logged in, the navigation links will automatically update to show relevant profile options.
    section.styleSample
      h2.subTitle Footer navigation
      section.demo.footerBackground
        ul.footer
          li
            a(href='#', class='footerLink') About
          li
            a(href='#', class='footerLink') FAQ
          li
            a(href='#', class='footerLink') Jobs
          li
            a(href='#', class='footerLink') Terms of Use
          li
            a(href='#', class='footerLink') Messaging Terms
          li
            a(href='#', class='footerLink') Privacy Policy
      section.details.clearfix
        div.code
          h2.detailsTitle Code
          pre.
            &lt;ul class=&quot;footer&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;footerLink&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;footerLink&quot;&gt;FAQ&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;footerLink&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;footerLink&quot;&gt;Terms of Use&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;footerLink&quot;&gt;Messaging Terms&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;footerLink&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        div.notes
          h2.detailsTitle Notes
          p.bodyText Use this list of important navigation links in the Footer of every page.
